/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.banner {
  background: url("/img/Banner.jpg") no-repeat top right;
  background-size: cover;
  display: flex;
  align-items: center;
}
.banner .bnr-left {
  max-width: 745px;
  margin-right: 138px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .banner .bnr-left {
    margin-right: 0px;
    max-width: 100%;
  }
}
.banner .bnr-left .bnr-title {
  font: normal normal 700 44px/67px "Titillium Web", sans-serif;
  margin-bottom: 13px;
}
@media (max-width: 1679px) {
  .banner .bnr-left .bnr-title {
    font: normal normal 700 30px/50px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1441px) {
  .banner .bnr-left .bnr-title {
    font: normal normal 700 28px/38px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1281px) {
  .banner .bnr-left .bnr-title {
    font: normal normal 700 24px/34px "Titillium Web", sans-serif;
  }
}
@media (max-width: 991px) {
  .banner .bnr-left .bnr-title {
    font: normal normal 700 25px/32px "Titillium Web", sans-serif;
  }
}
.banner .bnr-left .bnr-title span {
  display: block;
  font: normal normal 300 44px/67px "Titillium Web", sans-serif;
}
@media (max-width: 1679px) {
  .banner .bnr-left .bnr-title span {
    font: normal normal 300 30px/50px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1441px) {
  .banner .bnr-left .bnr-title span {
    font: normal normal 300 28px/38px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1281px) {
  .banner .bnr-left .bnr-title span {
    font: normal normal 300 24px/34px "Titillium Web", sans-serif;
  }
}
@media (max-width: 991px) {
  .banner .bnr-left .bnr-title span {
    font: normal normal 300 25px/32px "Titillium Web", sans-serif;
  }
}

.main-desc1 {
  color: #fff !important;
}