/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
@media (max-width: 991px) {
  .banner {
    height: 60vh;
  }
}
.banner .bnr-left {
  justify-content: center;
  margin-top: -157px;
  position: relative;
  z-index: 2;
  padding: 0;
}
@media (max-width: 991px) {
  .banner .bnr-left {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .right-anim-slider {
    position: absolute;
    inset: 0;
    z-index: 1;
    opacity: 0.2;
  }
  .bnr-left.sp-col-md-4 {
    max-width: 100% !important;
    flex: 0 0 100%;
  }
}
.banner-outr-container {
  display: flex;
  justify-content: space-between;
}
.banner-outr-container .right-anim-slider {
  width: 100%;
}
.banner-outr-container .right-anim-slider .content-area {
  transform: rotate(80deg);
  margin-left: -320px;
}
@media (max-width: 1399px) {
  .banner-outr-container .right-anim-slider .content-area {
    margin-left: -120px;
  }
}
@media (max-width: 991px) {
  .banner-outr-container .right-anim-slider .content-area {
    width: calc(100vh + 120px);
  }
}
@media (max-width: 767px) {
  .banner-outr-container .right-anim-slider .content-area {
    margin-left: -160px;
  }
}

.right-anim-slider .slick-slide img {
  height: 340px;
  border-radius: 5px;
  margin-right: 18px;
  margin-bottom: 16px;
}
@media (max-width: 1679px) {
  .right-anim-slider .slick-slide img {
    height: 240px;
  }
}
.right-anim-slider .content-area .vert-slider-wrp.two.slick-slide {
  margin-top: 200px;
}
@media (max-width: 1679px) {
  .right-anim-slider .content-area .vert-slider-wrp.two.slick-slide {
    margin-top: 185px;
  }
}
.right-anim-slider .content-area .vert-slider-wrp.three.slick-slide {
  margin-top: 93px;
}
.right-anim-slider .content-area .vert-slider-wrp.four.slick-slide {
  margin-top: -50px;
}
.right-anim-slider .content-area .vert-slider-wrp.five.slick-slide {
  margin-bottom: 20px;
}
.right-anim-slider .content-area .vert-slider-wrp.seven.slick-slide {
  margin-top: 120px;
}