/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.faq {
  position: relative;
  padding: 160px 0 134px;
}
@media (max-width: 1679px) {
  .faq {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}
@media (max-width: 1481px) {
  .faq {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}
@media (max-width: 1281px) {
  .faq {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media (max-width: 1199px) {
  .faq {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
@media (max-width: 991px) {
  .faq {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
.faq .casestudy-outer {
  position: absolute;
  font: normal normal bold 221px/336px Titillium Web;
  letter-spacing: 0px;
  color: #F8FBFF;
  z-index: -13;
  top: 0px;
  left: 87px;
  white-space: nowrap;
  overflow: clip;
  width: calc(100% - 87px);
}
@media (max-width: 1679px) {
  .faq .casestudy-outer {
    font-size: 160px;
    left: 38px;
    top: -70px;
  }
}
@media (max-width: 991px) {
  .faq .casestudy-outer {
    font-size: 60px;
    left: 47px;
    top: -108px;
  }
}
.faq .slider-wrp {
  margin-top: 82px;
  display: flex;
}
@media (max-width: 1679px) {
  .faq .slider-wrp {
    margin-top: 40px;
  }
}
@media (max-width: 1481px) {
  .faq .slider-wrp {
    margin-top: 35px;
  }
}
@media (max-width: 1281px) {
  .faq .slider-wrp {
    margin-top: 30px;
  }
}
@media (max-width: 1199px) {
  .faq .slider-wrp {
    margin-top: 25px;
  }
}
@media (max-width: 991px) {
  .faq .slider-wrp {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .faq .slider-wrp {
    flex-direction: column;
  }
}
.faq .slider-wrp .conetnt-left {
  display: flex;
  flex-direction: column;
}
.faq .slider-wrp .nav-left {
  width: 100%;
  max-height: 570px;
  overflow-y: auto;
  max-width: 42%;
  padding-right: 10px;
}
@media (max-width: 1679px) {
  .faq .slider-wrp .nav-left {
    max-height: 430px;
    max-width: 35%;
  }
}
@media (max-width: 1481px) {
  .faq .slider-wrp .nav-left {
    max-height: 385px;
  }
}
@media (max-width: 1441px) {
  .faq .slider-wrp .nav-left {
    max-height: 330px;
  }
}
@media (max-width: 767px) {
  .faq .slider-wrp .nav-left {
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 20px;
  }
}
.faq .slider-wrp .nav-left .slide-list {
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
@media (max-width: 767px) {
  .faq .slider-wrp .nav-left .slide-list {
    flex-direction: row;
    margin-top: 0px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.faq .slider-wrp .nav-left .slide-list li {
  list-style: none;
  font: normal normal normal 25px/38px "Titillium Web", sans-serif;
  margin-bottom: 36px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #6D7B9B;
  transition: all 0.5s;
}
@media (max-width: 991px) {
  .faq .slider-wrp .nav-left .slide-list li {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.faq .slider-wrp .nav-left .slide-list li button {
  background-color: transparent;
  color: #6D7B9B;
  border: none;
  outline: none;
  cursor: pointer;
  font: normal normal normal 25px/38px "Titillium Web", sans-serif;
  text-align: left;
}
@media (max-width: 1679px) {
  .faq .slider-wrp .nav-left .slide-list li button {
    font: normal normal normal 18px/28px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1481px) {
  .faq .slider-wrp .nav-left .slide-list li button {
    font: normal normal normal 17px/17px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1281px) {
  .faq .slider-wrp .nav-left .slide-list li button {
    font: normal normal normal 16px/26px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1199px) {
  .faq .slider-wrp .nav-left .slide-list li button {
    font: normal normal normal 15px/25px "Titillium Web", sans-serif;
  }
}
@media (max-width: 991px) {
  .faq .slider-wrp .nav-left .slide-list li button {
    font: normal normal normal 14px/24px "Titillium Web", sans-serif;
  }
}
.faq .slider-wrp .nav-left .slide-list li button.active {
  color: #3B7BF8;
}
@media (max-width: 1679px) {
  .faq .slider-wrp .nav-left .slide-list li {
    margin-bottom: 15px;
  }
}
@media (max-width: 1481px) {
  .faq .slider-wrp .nav-left .slide-list li {
    margin-bottom: 20px;
  }
}
@media (max-width: 1441px) {
  .faq .slider-wrp .nav-left .slide-list li {
    margin-bottom: 15px;
  }
}
@media (max-width: 1199px) {
  .faq .slider-wrp .nav-left .slide-list li {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .faq .slider-wrp .nav-left .slide-list li {
    max-width: 100%;
    flex: 1 0 auto;
    margin-bottom: 10px;
  }
}
.faq .slider-wrp .nav-left .slide-list li button:hover {
  color: #3B7BF8;
}
.faq .slider-wrp .details-right {
  padding-left: 54px;
  max-width: 75%;
  width: 100%;
}
@media (max-width: 1679px) {
  .faq .slider-wrp .details-right {
    padding-left: 45px;
  }
}
@media (max-width: 1481px) {
  .faq .slider-wrp .details-right {
    padding-left: 35px;
  }
}
@media (max-width: 1199px) {
  .faq .slider-wrp .details-right {
    padding-left: 25px;
  }
}
@media (max-width: 767px) {
  .faq .slider-wrp .details-right {
    padding-left: 0px;
    max-width: 100%;
  }
}
.faq .slider-wrp .details-right .gray-box {
  border-radius: 20px;
  background-color: #F5F9FF;
  padding: 69px 56px;
  color: #08243E;
  font: normal normal 300 25px/51px Titillium Web;
  width: 100%;
}
@media (max-width: 1679px) {
  .faq .slider-wrp .details-right .gray-box {
    padding: 40px;
    font: normal normal 300 18px/26px Titillium Web;
  }
}
@media (max-width: 1481px) {
  .faq .slider-wrp .details-right .gray-box {
    padding: 30px;
    font: normal normal 300 16px/26px Titillium Web;
  }
}
@media (max-width: 991px) {
  .faq .slider-wrp .details-right .gray-box {
    padding: 25px;
    font: normal normal 300 14px/24px Titillium Web;
  }
}
@media (max-width: 767px) {
  .faq .slider-wrp .details-right .gray-box {
    padding: 20px;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .faq .slider-wrp.desk-faq {
    display: none;
  }
}
.faq .btm-qa {
  margin-top: 100px;
}
@media (max-width: 1679px) {
  .faq .btm-qa {
    margin-top: 45px;
  }
}
@media (max-width: 1441px) {
  .faq .btm-qa {
    margin-top: 40px;
  }
}
@media (max-width: 1281px) {
  .faq .btm-qa {
    margin-top: 35px;
  }
}
@media (max-width: 991px) {
  .faq .btm-qa {
    margin-top: 30px;
  }
}
.faq .btm-qa .btm-title {
  font: normal normal 600 33px/50px Titillium Web;
  margin-bottom: 10px;
  color: #08243E;
}
@media (max-width: 1679px) {
  .faq .btm-qa .btm-title {
    font: normal normal 600 18px/28px Titillium Web;
  }
}
@media (max-width: 1481px) {
  .faq .btm-qa .btm-title {
    font: normal normal 600 17px/27px Titillium Web;
  }
}
@media (max-width: 991px) {
  .faq .btm-qa .btm-title {
    font: normal normal 600 16px/26px Titillium Web;
  }
}
.faq .btm-qa .cont-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 991px) {
  .faq .btm-qa .cont-left {
    flex-direction: column;
    align-items: flex-start;
  }
}
.faq .btm-qa .cont-left .para {
  color: #08243E;
  max-width: 499px;
}
@media (max-width: 1199px) {
  .faq .btm-qa .cont-left .para {
    max-width: 390px;
  }
}
@media (max-width: 991px) {
  .faq .btm-qa .cont-left .para {
    max-width: 100%;
  }
}
.faq .btm-qa .cont-left .btn-contact {
  background-color: #3B7BF8;
  border-radius: 41px;
  padding: 13px 56px;
  color: #fff;
  margin-left: auto;
  transition: all 0.5s;
  font: normal normal normal 22px/32px Titillium Web;
}
.faq .btm-qa .cont-left .btn-contact:hover {
  background-color: #fff !important;
  color: #3B7BF8;
  border: 1px solid #3B7BF8;
}
@media (max-width: 1679px) {
  .faq .btm-qa .cont-left .btn-contact {
    font: normal normal 300 20px/33px "Titillium Web", sans-serif;
    padding: 10px 40px;
  }
}
@media (max-width: 1481px) {
  .faq .btm-qa .cont-left .btn-contact {
    font: normal normal 300 18px/30px "Titillium Web", sans-serif;
    padding: 10px 35px;
  }
}
@media (max-width: 1281px) {
  .faq .btm-qa .cont-left .btn-contact {
    font: normal normal 300 16px/28px "Titillium Web", sans-serif;
  }
}
@media (max-width: 991px) {
  .faq .btm-qa .cont-left .btn-contact {
    font: normal normal 300 14px/25px "Titillium Web", sans-serif;
    margin-left: 0px;
    margin-top: 20px;
  }
}
.faq .custom-scroll::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}
.faq .custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgb(98, 118, 162);
}
.faq .custom-scroll::-webkit-scrollbar-thumb {
  background-color: #3B7BF8;
  outline: 1px solid #3B7BF8;
}

.case-study-btn .c-btn {
  font: normal normal normal 22px Titillium Web;
  letter-spacing: 0px;
  color: #3B7BF8;
  border: 1px solid #3B7BF8;
  border-radius: 41px;
  padding: 12px 52px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  display: inline-block;
}
@media (max-width: 1679px) {
  .case-study-btn .c-btn {
    padding: 10px 40px;
  }
}
@media (max-width: 767px) {
  .case-study-btn .c-btn {
    font: normal normal 300 14px/24px "Titillium Web", sans-serif;
    margin-left: 0px;
    margin-top: 0px;
    padding: 7px 30px;
  }
}

.mobile-accordion {
  display: none;
  /* Style the buttons that are used to open and close the accordion panel */
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the accordion panel. Note: hidden by default */
}
@media (max-width: 767px) {
  .mobile-accordion {
    display: block;
    margin-top: 15px;
  }
}
.mobile-accordion .acco-panel {
  margin-bottom: 8px;
  border-radius: 5px;
}
.mobile-accordion .acco-head {
  background-color: #1A273C;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0588235294);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.mobile-accordion .acco-head .accordion-icon {
  transition: all 0.3s linear;
}
.mobile-accordion .acco-head.active {
  border-radius: 5px 5px 0 0;
}
.mobile-accordion .acco-head.active .accordion-icon {
  transform: rotate(45deg);
}
.mobile-accordion .active, .mobile-accordion .accordion:hover {
  background-color: #1A273C;
}
.mobile-accordion .acco-body {
  padding: 20px 18px 0;
  background-color: white;
  display: none;
  overflow: hidden;
  border: 1px solid #1A273C;
  border-radius: 0 0 5px 5px;
}
.mobile-accordion .acco-body.show {
  display: block;
}
.mobile-accordion .acco-body .btm-qa {
  margin-top: 15px;
}