/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.footer-sec {
  background-color: #111827;
  background-image: url("../img/footer.webp");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.footer-sec .footer-nav-sec {
  padding: 160px 0 140px;
}
@media (max-width: 1679px) {
  .footer-sec .footer-nav-sec {
    padding: 100px 0 80px;
  }
}
@media (max-width: 1441px) {
  .footer-sec .footer-nav-sec {
    padding: 80px 0 60px;
  }
}
@media (max-width: 1281px) {
  .footer-sec .footer-nav-sec {
    padding: 60px 0 40px;
  }
}
@media (max-width: 991px) {
  .footer-sec .footer-nav-sec {
    padding: 40px 0 30px;
  }
}
.footer-sec .footer-nav-sec .footer-nav-wrapper {
  display: flex;
}
.footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col {
  width: 25%;
}
.footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 1.2em;
  text-transform: uppercase;
}
@media (max-width: 1679px) {
  .footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-title {
    font-size: 18px;
  }
}
@media (max-width: 1441px) {
  .footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-title {
    font-size: 16px;
  }
}
@media (max-width: 1281px) {
  .footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-title {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-title {
    font-size: 13px;
  }
}
.footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-ul li {
  margin-bottom: 15px;
}
.footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-ul li .f-nav-link {
  text-decoration: none;
  color: #D6E4FF;
  font-size: 20px;
  font-weight: 300;
  display: block;
  padding: 5px 0;
  transition: 0.3s;
}
@media (max-width: 1679px) {
  .footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-ul li .f-nav-link {
    font-size: 18px;
  }
}
@media (max-width: 1441px) {
  .footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-ul li .f-nav-link {
    font-size: 16px;
  }
}
@media (max-width: 1281px) {
  .footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-ul li .f-nav-link {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-ul li .f-nav-link {
    font-size: 13px;
  }
}
.footer-sec .footer-nav-sec .footer-nav-wrapper .footer-nav-col .f-nav-ul li .f-nav-link:hover {
  transform: translateX(5px);
}
.footer-sec .f-logo-sec {
  border-top: solid 1px #22304B;
  border-bottom: solid 1px #22304B;
  padding: 25px 0;
  display: flex;
  justify-content: center;
}
.footer-sec .f-logo-sec .logo-block .footer-logo {
  display: flex;
  align-items: center;
}
@media (max-width: 1679px) {
  .footer-sec .f-logo-sec .logo-block {
    max-width: 120px;
  }
}
@media (max-width: 1441px) {
  .footer-sec .f-logo-sec .logo-block {
    max-width: 100px;
  }
}
@media (max-width: 767px) {
  .footer-sec .f-logo-sec .logo-block {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
  }
}
@media (max-width: 579px) {
  .footer-sec .f-logo-sec .logo-block {
    margin-right: 0;
    margin-left: 0;
  }
}
.footer-sec .f-logo-sec .logo-wrapper {
  min-height: 100px;
  display: flex;
  align-items: center;
}
@media (max-width: 1679px) {
  .footer-sec .f-logo-sec .logo-wrapper {
    min-height: 80px;
  }
}
@media (max-width: 1441px) {
  .footer-sec .f-logo-sec .logo-wrapper {
    min-height: 60px;
  }
}
@media (max-width: 1281px) {
  .footer-sec .f-logo-sec .logo-wrapper {
    min-height: 40px;
  }
}
@media (max-width: 991px) {
  .footer-sec .f-logo-sec .logo-wrapper {
    min-height: 30px;
  }
}
@media (max-width: 767px) {
  .footer-sec .f-logo-sec .logo-wrapper {
    flex-wrap: wrap;
  }
}
.footer-sec .f-logo-sec .f-contact-block {
  flex: 0 0 auto;
}
.footer-sec .f-logo-sec .f-contact-wrapper {
  display: flex;
  align-items: center;
}
.footer-sec .f-logo-sec .contact-block {
  flex: 1 1 auto;
  display: flex;
}
@media (max-width: 767px) {
  .footer-sec .f-logo-sec .contact-block {
    width: 100%;
  }
}
.footer-sec .f-logo-sec .contact-block .f-contact-wrapper {
  margin-left: auto;
}
@media (max-width: 767px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-wrapper {
    margin-right: auto;
  }
}
@media (max-width: 579px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-wrapper {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
}
.footer-sec .f-logo-sec .contact-block .f-contact-block {
  margin-right: 75px;
}
@media (max-width: 1679px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-block {
    margin-right: 60px;
  }
}
@media (max-width: 1441px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-block {
    margin-right: 50px;
  }
}
@media (max-width: 1281px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-block {
    margin-right: 40px;
  }
}
@media (max-width: 991px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-block {
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-block {
    margin-right: 15px;
  }
}
@media (max-width: 579px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-block {
    width: 100%;
  }
}
.footer-sec .f-logo-sec .contact-block .f-contact-block:last-child {
  margin-right: 0;
}
.footer-sec .f-logo-sec .contact-block .f-contact-block .f-contact-link {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
@media (max-width: 1679px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-block .f-contact-link {
    font-size: 18px;
  }
}
@media (max-width: 1441px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-block .f-contact-link {
    font-size: 16px;
  }
}
@media (max-width: 1281px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-block .f-contact-link {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .footer-sec .f-logo-sec .contact-block .f-contact-block .f-contact-link {
    font-size: 13px;
  }
}
.footer-sec .f-logo-sec .contact-block .f-contact-block .f-contact-link img {
  margin-right: 0.75em;
  width: 1.5em;
  height: 1.2em;
  object-fit: contain;
}
.footer-sec .f-rights-sec .f-rights-wrapper {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1679px) {
  .footer-sec .f-rights-sec .f-rights-wrapper {
    padding: 40px 0;
  }
}
@media (max-width: 1441px) {
  .footer-sec .f-rights-sec .f-rights-wrapper {
    padding: 30px 0;
  }
}
@media (max-width: 1281px) {
  .footer-sec .f-rights-sec .f-rights-wrapper {
    padding: 20px 0;
  }
}
.footer-sec .f-rights-sec .f-rights-wrapper .f-soc-block {
  display: flex;
  align-items: center;
}
.footer-sec .f-rights-sec .f-rights-wrapper .f-soc-block .f-soc {
  margin-right: 15px;
  transition: 0.3s;
}
.footer-sec .f-rights-sec .f-rights-wrapper .f-soc-block .f-soc:hover {
  transform: translateY(-5px);
}
.footer-sec .f-rights-sec .f-rights-wrapper .copy-rights {
  text-align: center;
  color: #fff;
  font-size: 16px;
}
@media (max-width: 1679px) {
  .footer-sec .f-rights-sec .f-rights-wrapper .copy-rights {
    font-size: 14px;
  }
}
@media (max-width: 1281px) {
  .footer-sec .f-rights-sec .f-rights-wrapper .copy-rights {
    font-size: 13px;
  }
}
.footer-sec .f-rights-sec .f-rights-wrapper .copy-rights a {
  text-decoration: none;
  color: #fff;
}
.footer-sec .f-rights-sec .f-app-block .app-link {
  display: inline-flex;
  padding: 5px 25px;
  background-color: rgba(33, 47, 74, 0.7);
  margin-right: 10px;
  width: 140px;
  height: 50px;
  border-radius: 45px;
  align-items: center;
  justify-content: center;
}
.footer-sec .f-rights-sec .f-app-block .app-link:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=footer.css.map */
