/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.header {
  padding: 22px 0;
  position: fixed;
  width: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 9999;
  background-color: #1A273C;
}
@media (max-width: 1679px) {
  .header {
    padding: 15px 0;
  }
}
@media (max-width: 1481px) {
  .header {
    padding: 12px 0;
  }
}
@media (max-width: 1281px) {
  .header {
    padding: 10px 0;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 8px 0;
  }
}
.header .main-nav {
  display: flex;
  flex-wrap: wrap;
}
.header .main-nav .logo {
  display: flex;
}
@media (max-width: 991px) {
  .header .main-nav .logo {
    margin-right: auto;
  }
}
@media (max-width: 1679px) {
  .header .main-nav .logo img {
    max-width: 120px;
  }
}
@media (max-width: 1481px) {
  .header .main-nav .logo img {
    max-width: 120px;
  }
}
.header .main-nav .menu-toggler {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px;
  height: 40px;
  display: none;
}
@media (max-width: 991px) {
  .header .main-nav .menu-toggler {
    display: block;
  }
}
.header .main-nav .menu-toggler .menu-toggler-icon {
  background-image: url("../img/menu-bar.svg");
  display: block;
  width: 27px;
  height: 16px;
}
.header .main-nav .menu-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.header .main-nav .menu-collapse {
  margin-left: auto;
}
@media (max-width: 991px) {
  .header .main-nav .menu-collapse {
    display: none;
    height: 100vh;
    flex-basis: 100%;
    flex-grow: 1;
  }
}
.header .main-nav .menu-collapse .navigation {
  padding: 0;
  margin: 0;
}
@media (max-width: 991px) {
  .header .main-nav .menu-collapse .navigation {
    padding: 20px 0;
    flex-direction: column;
  }
}
.header .main-nav .menu-collapse .navigation li {
  list-style: none;
  padding-right: 31.5px;
  padding-left: 31.5px;
}
@media (max-width: 1679px) {
  .header .main-nav .menu-collapse .navigation li {
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 1441px) {
  .header .main-nav .menu-collapse .navigation li {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 1199px) {
  .header .main-nav .menu-collapse .navigation li {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 5px;
  }
}
@media (max-width: 991px) {
  .header .main-nav .menu-collapse .navigation li {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.header .main-nav .menu-collapse .navigation li .menu-link {
  font: normal normal normal 18px/27px Titillium Web;
  color: #fff;
  position: relative;
}
@media (min-width: 992px) {
  .header .main-nav .menu-collapse .navigation li .menu-link {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (min-width: 1679px) {
  .header .main-nav .menu-collapse .navigation li .menu-link {
    font: normal normal normal 17px/27px Titillium Web;
  }
}
@media (max-width: 1199px) {
  .header .main-nav .menu-collapse .navigation li .menu-link {
    font: normal normal normal 16px/26px Titillium Web;
  }
}
@media (max-width: 991px) {
  .header .main-nav .menu-collapse .navigation li .menu-link {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }
}
.header .main-nav .menu-collapse .navigation li .menu-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
@media (max-width: 991px) {
  .header .main-nav .menu-collapse .navigation li .menu-link::after {
    bottom: 0px;
  }
}
.header .main-nav .menu-collapse .navigation li .menu-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header .main-nav .menu-collapse .navigation li:last-child {
  padding-right: 0px;
}
.header .main-nav .menu-collapse .navigation li.dropdown {
  position: relative;
}
.header .main-nav .menu-collapse .navigation li.dropdown .dropdown-menu {
  display: none;
  transition: all 0.5s linear;
  padding: 15px 10px;
  position: absolute;
  min-width: 200px;
  background: #141b2b;
  right: 0px;
  margin-top: 25px;
}
.header .main-nav .menu-collapse .navigation li.dropdown .dropdown-menu a {
  color: #fff;
  font: normal normal normal 16px/26px Titillium Web;
  padding: 5px 0;
}
@media (max-width: 991px) {
  .header .main-nav .menu-collapse .navigation li.dropdown .dropdown-menu {
    position: relative;
  }
}
.header .main-nav .menu-collapse .navigation li:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .header .main-nav .nav-collapse {
    height: 100vh;
  }
}