/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.custom-web {
  background: url("../img/custom-web-app.jpg") no-repeat top right;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  padding-bottom: 165px;
}
@media (max-width: 1679px) {
  .custom-web {
    padding-bottom: 140px;
  }
}
@media (max-width: 1481px) {
  .custom-web {
    padding-bottom: 120px;
  }
}
@media (max-width: 1441px) {
  .custom-web {
    padding-bottom: 100px;
  }
}
@media (max-width: 1281px) {
  .custom-web {
    padding-bottom: 90px;
  }
}
@media (max-width: 1199px) {
  .custom-web {
    padding-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .custom-web {
    padding-bottom: 60px;
  }
}
.custom-web .inner-wrp {
  margin-top: 163px;
}
@media (max-width: 1679px) {
  .custom-web .inner-wrp {
    margin-top: 130px;
  }
}
@media (max-width: 1481px) {
  .custom-web .inner-wrp {
    margin-top: 120px;
  }
}
@media (max-width: 1441px) {
  .custom-web .inner-wrp {
    margin-top: 100px;
  }
}
@media (max-width: 1281px) {
  .custom-web .inner-wrp {
    padding-bottom: 90px;
  }
}
@media (max-width: 1199px) {
  .custom-web .inner-wrp {
    padding-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .custom-web .inner-wrp {
    padding-bottom: 50px;
  }
}
.custom-web .sec-title {
  color: #fff;
  margin-bottom: 13px;
}
.custom-web .sec-title span {
  font-weight: normal;
}
.custom-web .inner-desc {
  font: normal normal 300 20px/35px "Titillium Web", sans-serif;
  color: #fff;
  max-width: 647px;
}
@media (max-width: 1679px) {
  .custom-web .inner-desc {
    font: normal normal 300 18px/33px "Titillium Web", sans-serif;
    max-width: 620px;
  }
}
@media (max-width: 1481px) {
  .custom-web .inner-desc {
    font: normal normal 300 17px/27px "Titillium Web", sans-serif;
    max-width: 590px;
  }
}
@media (max-width: 1441px) {
  .custom-web .inner-desc {
    font: normal normal 300 16px/27px "Titillium Web", sans-serif;
    max-width: 550px;
  }
}
@media (max-width: 1199px) {
  .custom-web .inner-desc {
    font: normal normal 300 15px/25px "Titillium Web", sans-serif;
    max-width: 520px;
  }
}
@media (max-width: 991px) {
  .custom-web .inner-desc {
    font: normal normal 300 14px/25px "Titillium Web", sans-serif;
  }
}
.custom-web .slider-img {
  border-radius: 28px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 991px) {
  .custom-web .slider-img {
    margin-top: 30px;
    width: unset;
    height: unset;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 991px) {
  .custom-web .slider-img img {
    max-width: 100%;
  }
}
.custom-web .slider-wrp {
  margin-top: 117px;
  display: flex;
}
@media (max-width: 1679px) {
  .custom-web .slider-wrp {
    margin-top: 80px;
    margin-right: 80px;
  }
}
@media (max-width: 1481px) {
  .custom-web .slider-wrp {
    margin-top: 70px;
    margin-right: 70px;
  }
}
@media (max-width: 1441px) {
  .custom-web .slider-wrp {
    margin-top: 65px;
    margin-right: 65px;
  }
}
@media (max-width: 1281px) {
  .custom-web .slider-wrp {
    margin-top: 60px;
    margin-right: 60px;
  }
}
@media (max-width: 1199px) {
  .custom-web .slider-wrp {
    margin-top: 55px;
    margin-right: 15px;
  }
}
@media (max-width: 991px) {
  .custom-web .slider-wrp {
    margin-top: 50px;
    margin-right: 0px;
  }
}
.custom-web .slider-wrp .nav-left {
  max-width: 350px;
  width: 100%;
  max-height: 450px;
  overflow-y: auto;
}
.custom-web .slider-wrp .nav-left .slide-list {
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}
.custom-web .slider-wrp .nav-left .slide-list li {
  list-style: none;
  font: normal normal normal 25px/38px "Titillium Web", sans-serif;
  margin-bottom: 36px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #6D7B9B;
  transition: all 0.5s;
}
@media (max-width: 1679px) {
  .custom-web .slider-wrp .nav-left .slide-list li {
    font: normal normal normal 20px/30px "Titillium Web", sans-serif;
    margin-bottom: 25px;
  }
}
@media (max-width: 1481px) {
  .custom-web .slider-wrp .nav-left .slide-list li {
    font: normal normal normal 19px/29px "Titillium Web", sans-serif;
    margin-bottom: 25px;
  }
}
@media (max-width: 1441px) {
  .custom-web .slider-wrp .nav-left .slide-list li {
    font: normal normal normal 18px/28px "Titillium Web", sans-serif;
    margin-bottom: 25px;
  }
}
@media (max-width: 1281px) {
  .custom-web .slider-wrp .nav-left .slide-list li {
    font: normal normal normal 17px/27px "Titillium Web", sans-serif;
    margin-bottom: 25px;
  }
}
@media (max-width: 1199px) {
  .custom-web .slider-wrp .nav-left .slide-list li {
    font: normal normal normal 16px/26px "Titillium Web", sans-serif;
    margin-bottom: 25px;
  }
}
.custom-web .slider-wrp .nav-left .slide-list li::before {
  content: "";
  width: 25px;
  height: 1px;
  background-color: #6D7B9B;
  margin-right: 21px;
}
.custom-web .slider-wrp .nav-left .slide-list li.active {
  color: #F5F9FF;
}
.custom-web .slider-wrp .nav-left .slide-list li.active::before {
  color: #F5F9FF;
}
.custom-web .slider-wrp .nav-left .slide-list li:hover {
  color: #F5F9FF;
}
.custom-web .slider-wrp .details-right {
  padding-left: 54px;
  max-width: 550px;
}
@media (max-width: 1679px) {
  .custom-web .slider-wrp .details-right {
    padding-left: 45px;
  }
}
@media (max-width: 1481px) {
  .custom-web .slider-wrp .details-right {
    padding-left: 35px;
  }
}
@media (max-width: 1199px) {
  .custom-web .slider-wrp .details-right {
    padding-left: 25px;
  }
}
.custom-web .slider-wrp .details-right .inner-title {
  font: normal normal bold 35px/54px "Titillium Web", sans-serif;
  margin-bottom: 20px;
  color: #fff;
}
@media (max-width: 1679px) {
  .custom-web .slider-wrp .details-right .inner-title {
    font: normal normal bold 30px/50px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1441px) {
  .custom-web .slider-wrp .details-right .inner-title {
    font: normal normal bold 28px/38px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1281px) {
  .custom-web .slider-wrp .details-right .inner-title {
    font: normal normal bold 24px/34px "Titillium Web", sans-serif;
  }
}
@media (max-width: 991px) {
  .custom-web .slider-wrp .details-right .inner-title {
    font: normal normal bold 22px/32px "Titillium Web", sans-serif;
  }
}
.custom-web .slider-wrp .details-right .inner-desc {
  margin-bottom: 0px;
}
@media (max-width: 1679px) {
  .custom-web .slider-wrp .details-right .inner-desc {
    font: normal normal 300 18px/28px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1481px) {
  .custom-web .slider-wrp .details-right .inner-desc {
    font: normal normal 300 17px/27px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1441px) {
  .custom-web .slider-wrp .details-right .inner-desc {
    font: normal normal 300 16px/26px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1199px) {
  .custom-web .slider-wrp .details-right .inner-desc {
    font: normal normal 300 15px/25px "Titillium Web", sans-serif;
  }
}
@media (max-width: 991px) {
  .custom-web .slider-wrp .details-right .inner-desc {
    font: normal normal 300 14px/25px "Titillium Web", sans-serif;
  }
}
.custom-web .slider-wrp .details-right .pro-info {
  padding-left: 0px;
  margin: 0px;
  padding-top: 84px;
}
@media (max-width: 1679px) {
  .custom-web .slider-wrp .details-right .pro-info {
    padding-top: 60px;
  }
}
@media (max-width: 1481px) {
  .custom-web .slider-wrp .details-right .pro-info {
    padding-top: 50px;
  }
}
.custom-web .slider-wrp .details-right .pro-info li {
  list-style: none;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #6276A2;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.custom-web .slider-wrp .details-right .pro-info li:last-child {
  border: none;
}
.custom-web .slider-wrp .details-right .pro-info li .counts {
  font: normal normal 600 41px/74px "Titillium Web", sans-serif;
}
@media (max-width: 1679px) {
  .custom-web .slider-wrp .details-right .pro-info li .counts {
    font: normal normal 600 35px/74px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1481px) {
  .custom-web .slider-wrp .details-right .pro-info li .counts {
    font: normal normal 600 30px/74px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1199px) {
  .custom-web .slider-wrp .details-right .pro-info li .counts {
    font: normal normal 600 24px/74px "Titillium Web", sans-serif;
  }
}
.custom-web .slider-wrp .details-right .pro-info li .counts sup {
  font: normal normal 600 30px/74px "Titillium Web", sans-serif;
}
@media (max-width: 1679px) {
  .custom-web .slider-wrp .details-right .pro-info li .counts sup {
    font: normal normal 600 28px/72px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1481px) {
  .custom-web .slider-wrp .details-right .pro-info li .counts sup {
    font: normal normal 600 27px/70px "Titillium Web", sans-serif;
  }
}
.custom-web .slider-wrp .details-right .pro-info li .brief {
  padding-left: 30px;
  flex: 1;
}
@media (max-width: 1679px) {
  .custom-web .slider-wrp .details-right .pro-info li .brief {
    padding-left: 25px;
  }
}
@media (max-width: 1481px) {
  .custom-web .slider-wrp .details-right .pro-info li .brief {
    padding-left: 15px;
  }
}
@media (max-width: 1199px) {
  .custom-web .slider-wrp .details-right .pro-info li .brief {
    padding-left: 10px;
  }
}
.custom-web .slider-wrp .details-right .pro-info li .brief .title {
  font: normal normal 600 16px/24px "Titillium Web", sans-serif;
  margin-bottom: 0px;
}
@media (max-width: 1679px) {
  .custom-web .slider-wrp .details-right .pro-info li .brief .title {
    font: normal normal 600 15px/24px "Titillium Web", sans-serif;
  }
}
@media (max-width: 1481px) {
  .custom-web .slider-wrp .details-right .pro-info li .brief .title {
    font: normal normal 600 14px/24px "Titillium Web", sans-serif;
  }
}
.custom-web .slider-wrp .details-right .pro-info li .brief .title span {
  display: block;
  color: #6276A2;
}