@import 'partials/partials';
a{
    text-decoration: none;
}

.title{
 
    font: normal normal bold 39px/59px Titillium Web;
    letter-spacing: 0px;
    color: #08243E;
        @media ($sm-1679){
            font-size: 30px;
        }
        @media ($sm-1441){
            font-size: 26px;
        }
        @media ($sm-1281){
            font-size: 24px;
        }
        @media ($sm-991){
            font-size: 22px;
            line-height: 30px;
            padding-bottom: 15px;
        }

        span{
            font-weight: 300;
        }
}

.main-desc {
    letter-spacing: 0px;
    color: #08243E; 

}
.industry{
    height: unset !important;
}
.industries-sec{

    width: 63%;
    margin: 0 auto;
    @media ($sm-991){
        width: 100%;
    }
    .heading-sec{
        text-align: center;
        padding-bottom: 90px;
        @media ($sm-991){
            padding-bottom: 30px;   
        }
        @media ($sm-1679){
            padding-bottom: 50px;
        }

        .main-desc{
            @media ($sm-991){
             margin: 0;  
            }  
        }
    }
}
.icon-sec {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 80px;
    text-align: center;
    padding-bottom: 90px;
    @media ($sm-991){
        grid-template-columns: repeat(3,1fr);
        font-size: 40px;
        row-gap: 10px !important;
     }
     @media ($sm-1679){
        font-size: 83px;
        padding-bottom: 80px;
        row-gap: 50px;
     }
    .bottom-title{
        p{
            text-align: center;
            font: normal normal normal 19px/29px Titillium Web;
            letter-spacing: 0px;
            color: #08243E;
            @media ($sm-1679){
               font-size: 16px;
            }
            @media ($sm-991){
                font-size: 14px;
             }
        }
    }
    @media ($sm-579){
        grid-template-columns: repeat(2,1fr) !important;
    
    }
    .ion-img{
        min-height: 70px;
    }
}
.logo-sec{
    padding-bottom: 90px;
    @media ($sm-991){
     padding-bottom: 50px;
     
    }
    @media ($sm-1281){
        padding-bottom: 50px;
     
    }
    @media ($sm-1679){
        padding-bottom: 80px;
     
    }
    .slick-list{  
          padding: 0 20% 0 19% !important;
    }
    .logos {

        border: 1px solid #F0F0F0;
        margin: 20px;
        margin: 0px 5px;
        border-radius: 61px;
        padding: 20px 40px;
        @media ($sm-991){
            padding: 10px 20px;
         
        }
        @media ($sm-1281){
            padding: 10px 20px;
         
        }
      

        .logoimg {
            display: flex;
            justify-content: center;
            height: 30px;
            @media ($sm-1679){
                height: 20px;
             
            }
          
        }
    
    }
   
}
.banner {
    position: relative;
}
.years-with-icons{
    background: #1B2638 0% 0% no-repeat padding-box;
    opacity: 0.7;
    backdrop-filter: blur(40px);
    position:absolute;
    bottom: 0;
    height: unset !important;
    // margin-top: -190px;
    width: 100%;
    padding: 30px 0px;
    .icon-sec{
        @media ($sm-991){
            row-gap: 20px !important;
        }
    }
 
    @media ($sm-991){
       position:unset; 
       bottom: unset;
       row-gap: 20px !important;
       opacity: 1;
       background-color: #192132;
      
    }
    .banner-icons{
        padding-bottom: 0;
        padding-bottom: 0;
        width: 73%;
        margin: 0 auto;
        grid-column-gap: 120px;
        @media ($sm-1679){
            width: 90%;
            grid-column-gap: 80px; 
        }
        @media ($sm-1281){
            width: 90%;
            grid-column-gap: 40px; 
        }
        @media ($sm-579){
            width: 100%;
            grid-column-gap: 0px; 
            grid-template-columns: repeat(1,1fr) !important;
        }
        @media ($sm-767){
            width: 100%;
            grid-column-gap: 30px; 
            grid-template-columns: repeat(2,1fr);
        }
        .bottom-title{
            p{
                font: normal normal normal 15px/23px Titillium Web;
                letter-spacing: 0px;
                color: #DEE9FF;
                margin: 0;
                @media ($sm-1679){
                    font-size: 14px;
                }
                @media ($sm-991){
                    font-size: 13px;
                }
            }
           
        }
    }
}

.case-study-btn{
    @media ($sm-991){
      
        margin: 20px 0px;
    
    }
    a{
        font: normal normal normal 22px Titillium Web;
        letter-spacing: 0px;
        color: #3B7BF8;
        border: 1px solid #3B7BF8;
        border-radius: 41px;      
        padding: 12px 52px;
        overflow: hidden;
        position: relative;

        @media ($sm-1679){
            font-size: 20px !important;
        }
        @media ($sm-1441){
            font-size: 18px !important;
        
        }
        @media ($sm-1281){
            font-size: 16px !important;
         
        }
        @media ($sm-991){
            font-size: 14px !important; 
            padding: 10px 15px;
           
        
        }
        &:hover {
            color: #fff;
        
            &::before {
                transform: scaleX(1);
                width: 100%;
            
            }
        }

        &::before{
            
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            z-index: -13;
            height: 100%;
            background-color: #3B7BF8;
            border-radius: 50px;
            transition: transform 0.3s, width 0.3s;
            transform-origin: 0 100%;
        }
    }

}

.box-title{
    font: normal normal bold 31px/47px Titillium Web;
    letter-spacing: 0px;
    color: #08243E;
    padding: 15px 0px;

        
    @media ($sm-1679){
        font-size: 28px !important;
        padding-bottom: 0px;
    }
    @media ($sm-1441){
        font-size: 26px!important;
    }
    @media ($sm-1281){
        font-size: 24px!important;
    }
    @media ($sm-991){
            padding: 10px 0px;
        // font-size: 22px!important;
        // padding-bottom: 0px;
    }

}
.slidebg{
    background-image: url(../img/Get\ 1\ Hour\ FREE\ Consultation.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    .slidebg1{
        background-image: url(../img/Our\ Achievements\ bg.jpg);
        background-position: 0 118%;
    }
}

.slide-2{
    position: relative;
}
.casestudy-outer{
    position: absolute;
    font: normal normal bold 221px/336px Titillium Web;
    letter-spacing: 0px;
    color: #F8FBFF;
    z-index:-13;
    top: 0;
    left: -180px;
    @media ($sm-1679){
        font-size: 160px ;
        left: -140px;
        top: 0;
    }
    

    @media ($sm-991){
        font-size: 60px ;
        left: -70px;
        top: -95px;
    }
}
.case-studies1{
    position: relative;
    z-index: 99;
}
.case-studies{
    .main-desc{
        @media ($sm-991){
            margin: 0;
           }
           @media ($sm-1679){
            margin: 0;
           }
    }
   
    .heading-sec{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media ($sm-991){
           flex-wrap: wrap;
       
        }
    

        .left-sec {
            width: 50%;
            @media ($sm-991){
                width: 100%;
             }
       
        }
         .right-sec{
            @media ($sm-991){
                width: 100%;
             }
        }
    }

    .three-col-sec{
        display: flex;
        justify-content: space-between;
        padding-bottom: 90px;
        @media ($sm-991){
            flex-wrap: wrap;
            padding-bottom: 40px;
         
        }

        .box{
            width: calc((100% / 3) - 30px);       
            padding-top: 70px;

            @media ($sm-1679){
                width: calc((100% / 3) - 20px);
                padding-top: 40px;
            }
        
            @media ($sm-767){
                width:100% !important;
                padding-top: 30px;
            }
            @media ($sm-991){
                width:47%;
                padding-top: 30px;
            }
        
            .top-img{
                width: 100%;
                height: 314px;
                @media ($sm-1679){
                    height: 250px;
                }
                   
                @media ($sm-1199){
                    height: 214px;
                 
                }

                img{
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    @media ($sm-991){
                        border-radius: 10px;
                    }
                }
            }

            .readmore{
                padding-top: 20px;
                @media ($sm-1679){
                    padding-top: 0px;
                }
                @media ($sm-991){
                    padding-top: 0px;
                }
                a{
                    font: normal normal 600 20px/38px Titillium Web;
                    @media ($sm-1679){
                        font-size: 18px;
                    }
                    @media ($sm-1441){
                        font-size: 16px;
                    }
                    @media ($sm-1281){
                        font-size: 14px;
                    }
                    @media ($sm-991){
                        font-size: 13px;
                    }
                    letter-spacing: 0px;
                    color: #3B7BF8;
                    display: flex;
                    align-items: center;
                    .text{
                        padding-right: 10px;
                    }

                    .arrowimg{
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    
   
}


.consultation{
    padding-bottom: 90px;
    @media ($sm-991){
        padding-bottom: 50px !important;
    }
    @media ($sm-1679){
        padding-bottom: 83px;
    }
   
    .heading-sec {
        padding-bottom: 50px;
        @media ($sm-991){
            padding-bottom: 0px;
        }
        .left-sec {
            width: 65%;
            @media ($sm-991){
                width: 100%;
            }
            p{
                @media ($sm-991){
                   margin: 0;
                } 
            }
        }
    }
    .title{
        color: #fff;
    }
    .content{
        p{
            color: #fff;
        }
    }
    .consultn-btn{
        a{
            color: #fff;
            padding: 0;
            border: none;
            font-weight: 700;
        }
    }

    .consulation-box{ 
        padding-bottom: 0px;
        .box-title{
            font: normal normal 600 30px/46px Titillium Web;
            color: #FFFFFF;
            @media ($sm-1679){
                font-size: 28px !important;
            }
            @media ($sm-1441){
                font-size: 26px!important;
            }
            @media ($sm-991){
                font-size: 22px!important;
                padding: 10px 0px;
            }
            @media ($sm-1281){
                font-size: 24px!important;
            }
          
        } 
        .box{
            background: transparent linear-gradient(180deg, #1B2640 0%, #111827 100%) 0% 0% no-repeat padding-box;
            border-radius: 23px;
            padding: 50px 50px;
            @media ($sm-1679){
            padding: 40px 25px !important;
            }
            @media ($sm-991){
                margin-bottom: 30px;
                padding: 20px;
                margin-top: 10px;

                &:last-child{
                    margin-bottom: 0px;   
                }
            }
            .top-img{
                width: 90px;
                height: 90px;
                @media ($sm-991){
                    width: 50px;
                height: 50px;
                }
                @media ($sm-1679){
                    width: 60px;
                    height: 60px;
                }
                img{
                    border-radius: 0;
                    object-fit: unset;
                }
            }
           
            .content{
                p{
                    
                    color: #FFFFFF;
                }
            }
        }
    }

    .consultn-btn1{
        text-align: center;
        padding-top: 30px;
        @media ($sm-991){
        padding-top: 0;
        }
        a{
            background-color: #3B7BF8;
            color: #fff;
            z-index: 99;
            @media ($sm-991){
              padding: 10px 15px;
            }

            &:hover {
             
                background-color: #fff !important;
                color:  #3B7BF8;
                border: 1px solid #fff;
            }
    
            &::before{
                display: none;

            }    
        }
    }
}

.achievement{
  
    .heading-sec{
        .left-sec {
            width: 80%;
            @media ($sm-991){
                width: 100%;
            }
        }

        @media ($sm-991){
            padding-bottom: 30px;
         }
    } 

    .consulation-box{
        .box{
          
          
              &:nth-child(2) {
                .top-img1 {
                    width: 229px;
                    @media ($sm-991){
                        width: 180px;
                      }
                }
              }
          
              &:nth-child(3) {
                .top-img1 {
                    width: 227px;
                    @media ($sm-991){
                        width: 180px;
                      }
                }
              }
           .top-img1{
            padding-bottom: 40px;
            text-align: center;
            width: 145px;
            height: 80px;
            margin: 0 auto;
            @media ($sm-991){
                height: 60px;
                width: 120px;
              }
            img{
                max-width: 100%;
                width: 100%;
            }
            @media ($sm-991){
                padding-bottom: 20px;
            }

           }
           .bottom-img{
            text-align: center;
            padding-top: 40px;
            @media ($sm-991){
                padding-top: 20px;
            }
        }
        }
    }
}


