@import 'partials/partials';
.banner
{
    height: 100vh;
    overflow: hidden;
    .bnr-left
    {
        justify-content: center;
        margin-top:-157px;
    }
}
@media(max-width:991px)
{
    .right-anim-slider
    {
        display: none;
    }
    .bnr-left.sp-col-md-4 {
        max-width: 100% !important;
        flex: 0 0 100%;
    }

}
.slick-slide img
{
    height: 340px;
    border-radius:5px;
    margin-right:18px;
    margin-bottom: 16px;
    @media(max-width:1679px)
    {
      height:240px;
    }
}
.banner-outr-container
{
    display:flex;
    justify-content:space-between;
    .right-anim-slider
    {
        width:100%; 
        .content-area
        {
          transform: rotate(80deg);
        }
    }
}
.right-anim-slider
{
  .content-area
  {
    .vert-slider-wrp.two.slick-slide {
      margin-top:200px;
      @media(max-width:1679px)
      {
        margin-top: 185px;
      }
    }
  .vert-slider-wrp.three.slick-slide {
    margin-top:93px;
    }
    .vert-slider-wrp.four.slick-slide {
      margin-top:-50px;
    }
    .vert-slider-wrp.five.slick-slide {
      margin-bottom:20px;
    }
    .vert-slider-wrp.seven.slick-slide {
      margin-top: 120px;
    }

  }
}

  