@import "partials/partials";

body,html{
    font-family: 'Titillium Web', sans-serif;
}

body{
    font-size: 19px;
}
.slide{
    width:100%;
    padding-top: 97px;
    @media ($sm-1679){
        padding-top: 83px;
    }
}
.main-desc1{
    color: #fff !important;
}
.main-desc{
    font: normal normal 300 22px/35px $font-primary;
    @media ($sm-1679){
        font: normal normal 300 20px/33px $font-primary;
    }
    @media ($sm-1481){
        font: normal normal 300 18px/30px $font-primary;
    }
    @media ($sm-1199){
        font: normal normal 300 16px/28px $font-primary;
    }
    @media ($sm-991){
        font: normal normal 300 14px/27px $font-primary;
    }
}
.sec-title{
    font-size: 39px;
    font-weight: 700;
    @media ($sm-1679){
        font-size: 35px;
    }
}

.sec-subtitle{
    font-size: 31px;
    font-weight: 700;
}
.custom-container{
    @media (min-width:1500px){
        max-width: 1450px;
    }
    @media (min-width:1700px){
        max-width: 1600px;
    }
    @media (min-width:1800px){
        max-width: 1691px;
    }
    @media ($sm-991){
        max-width: 90%;
    }
}
.custom-scroll{
    &::-webkit-scrollbar {
        width: 4px;
      }
       
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 4px rgba(98, 118, 162, 1);
      }
       
      &::-webkit-scrollbar-thumb {
        background-color: #FFFFFF;
        outline: 1px solid #6276A2;
      }
}