@import "partials/partials";
.footer-sec{
    background-color: #111827;
    min-height: 100vh;
    background: {
        image: url('../img/footer.webp');
        repeat: no-repeat; 
        position: right bottom;
    };
    .footer-nav-sec{
        padding: 160px 0 140px;
        .footer-nav-wrapper{
            display: flex;
            .footer-nav-col{
                width: 25%;
                .f-nav-title{
                    font-size: 20px;
                    color: #fff;
                    margin-bottom: 25px;
                    text-transform: uppercase;
                }
                .f-nav-ul{
                    list-style: none;
                    padding-left: 0;
                    margin: 0;
                    li{
                        margin-bottom: 15px;
                        .f-nav-link{
                            text-decoration: none;
                            color: #D6E4FF;
                            font-size: 20px;
                            font-weight: 300;
                            display: block;
                            padding: 5px 0;
                            transition: .3s;
                            &:hover{
                                transform: translateX(5px);
                            }
                        }
                    }
                }
            }
        }
    }
    .f-logo-sec{
        border-top: solid 1px #22304B;
        border-bottom: solid 1px #22304B;
        padding: 25px 0;
        display: flex;
        justify-content: center;
        .logo-wrapper{
            min-height: 100px;
            display: flex;
            align-items: center;
        }
        .f-contact-block{
            flex: 0 0 auto;
        }
        .f-contact-wrapper{
            display: flex;
            align-items: center;
        }
        .contact-block{
            flex: 1 1 auto;
            display: flex;
            .f-contact-wrapper{
                margin-left: auto;
            }
            .f-contact-block{
                margin-right: 75px;
                &:last-child{
                    margin-right: 0;
                }
                .f-contact-link{
                    display: inline-flex;
                    align-items: center;
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                    img{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .f-rights-sec{
        .f-rights-wrapper{
            padding: 50px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .f-soc-block{
                display: flex;
                align-items: center;
                .f-soc{
                    margin-right: 15px;
                    transition: .3s;
                    &:hover{
                        transform: translateY(-5px);
                    }
                }
            }
            .copy-rights{
                text-align: center;
                color: #fff;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .f-app-block{
            .app-link{
                display: inline-flex;
                padding: 5px 25px;
                background-color: rgba($color: #212F4A, $alpha: 0.7);
                margin-right: 10px;
                width: 140px;
                height: 50px;
                border-radius: 45px;
                align-items: center;
                justify-content: center;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}