.listing{
    padding-bottom: 37px;
    .heading-sec{
        padding-bottom: 50px;
    }
    .three-col-sec{
        padding-bottom: 50px;

        .box{
            padding-top: 0;
        }
    }
}