@import "partials/partials";

.left-margin{
    max-width: 100% !important;
    padding-right: 0;
    @media (min-width:1500px){
        padding-left: calc((100vw - 1450px)/2);  
    }
    @media (min-width:1700px){
        padding-left: calc((100vw - 1600px)/2); 
    }
    @media (min-width:1800px){
        padding-left: calc((100vw - 1691px)/2);
    }
    @media ($sm-991){
        max-width: 90% !important;
    }
    .sp-row{
        margin-right: 0;
    }
    .sp-col{
        padding-right: 0;
    }
}
.testimonials{
    .sec-title{
        margin-top: 0;
        margin-bottom: 0;
    }
    .sec-desc{
        position: relative;
        z-index: 2;
        font-size: 22px;
        max-width: 1030px;
        color: #08243E;
    }
    .slick-list{
        padding-right: 240px;
    }

    .testi-slide{
        margin-right: 40px;
    }

    .title-wrp{
        display: flex;
        align-items: center;
         .qoute-wrp {
            margin-left: auto;
         }
         
    }

    .slick-dots{
        padding-left: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap: 10px;
        margin-top: 78px;
        li{
            width: 100%;
            max-width: 100px;
            display: flex;
            button{
                font-size: 1px;
                color: transparent;
                padding: 0;
                height: 4px;
                background-color: #D8E5FF;
                color: #D8E5FF;
                width: 100%;
                border: none;
                border-radius: 4px;
            }
            &.slick-active{
                button{
                    background-color: #3B7BF8;
                    color: #3B7BF8;
                }
                
            }
        }
        
    }
    .slick-arrow-wrp{
        display: flex;
        gap: 15px;
        margin-left: 40px;
        .btn{
            padding: 0;
            border: 1px solid #3B7BF8;
            width: 50px;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            background-color: transparent;
            cursor: pointer;
            &:hover{
                background-color: #3B7BF8;
                img{
                    filter: brightness(0) invert(1);
                }
            }
            &.btn-next{
                img{
                    transform: rotateY(180deg);
                }
            }
        }
    }
}
.testi-slider{
    padding-top: 60px;
}

.testi-slide-wrp{
    display: flex;
    padding: 70px 100px 70px 70px;
    background-color: #F5F9FF;
    border: 1px solid #EDF6FF;
    border-radius: 18px;

    .user-titles{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    .img-wrp{
        max-width: 260px;
        flex-shrink: 0;
        img{
            border-radius: 100%;
            width: 100%;
        }
    }
    .txt-wrp{
        padding-left: 75px;
    }
    .name-wrp{
        color: #08243E;
        
        padding-left: 15px;
        .name{
            margin-bottom: 0;
            margin-top: 0;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.5;
            color: #10415F;
            line-height: 1;
            margin-bottom: 15px;
        }
        .desig{
            font-size: 12px;
            opacity: 0.67;
            margin-bottom: 0;
            margin-top: 0;
            line-height: 1;
        }
        
    }
    .user-cont{
        color: #08243E;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.88;
    }
    .rating-wrp{
        margin-left: auto;
        ul{
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
           
            gap: 11px;
            &.one{
                li{
                    &:last-child,
                    &:nth-child(4),
                    &:nth-child(3),
                    &:nth-child(2){
                        filter: grayscale(1);
                    } 
                }
                
            }
            &.two{
                li{
                    &:last-child,
                    &:nth-child(4),
                    &:nth-child(3){
                        filter: grayscale(1);
                    } 
                }
                
            }
            &.three{
                li{
                    &:last-child,
                    &:nth-child(4){
                        filter: grayscale(1);
                    } 
                } 
            }
            &.four{
                li:last-child{
                    filter: grayscale(1);
                }
            }
             
        }
    }
}