@import 'partials/partials';
.custom-web{
    background: url('../img/custom-web-app.jpg') no-repeat top right;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    padding-bottom: 165px;
    padding-top: 165px;
    @media ($sm-1679){
        padding-bottom: 130px;
        padding-top: 130px;
    }
    @media ($sm-1481){
        padding-bottom: 120px;
        padding-top: 120px;
    }
    @media ($sm-1441){
        padding-bottom: 100px;
        padding-top: 100px;
    }
    @media ($sm-1281){
        padding-bottom: 90px;
        padding-top: 90px;
    }
    @media ($sm-1199){
        padding-bottom: 80px;
        padding-top: 80px;
    }
    @media ($sm-991){
        padding-bottom: 60px;
        padding-top: 60px;
    }
    // .inner-wrp{
    //     margin-top:86px;
    //     @media ($sm-1679){
    //         margin-top: 60px;
    //     }
    //     @media ($sm-1481){
    //         margin-top: 55px;
    //     }
    //     @media ($sm-1441){
    //         margin-top: 50px;
    //     }
    //     @media ($sm-1281){
    //         margin-top: 45px;
    //     }
    //     @media ($sm-1199){
    //         margin-top: 40px;
    //     }
    //     @media ($sm-991){
    //         margin-top: 38px;
    //     }
    //     @media ($sm-767){
    //         margin-top: 0;
    //         padding-bottom: 0px;
    //     }
    // }
    .sec-title{
        color: $white;
        margin-bottom: 13px;
        span{
            font-weight: normal;
        }
    }
    .inner-desc{
        font: normal normal 300 20px/35px $font-primary;
        color: $white;
        max-width: 647px;
        margin: 0px;
        @media ($sm-1679){
            font: normal normal 300 18px/33px $font-primary;
            max-width: 620px;
        }
        @media ($sm-1481){
            font: normal normal 300 17px/27px $font-primary;
            max-width: 590px;
        }
        @media ($sm-1441){
            font: normal normal 300 16px/27px $font-primary;
            max-width: 550px;
        }
        @media ($sm-1199){
            font: normal normal 300 15px/25px $font-primary;
            max-width: 520px;
        }
        @media ($sm-991){
            font: normal normal 300 14px/25px $font-primary;
        }
    }
    .slider-img{
        border-radius: 28px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 48%;
        position: relative;
        margin-top: -235px;
        aspect-ratio: 0.8;
        @media ($sm-1679){
            margin-top: -160px;
        }
        @media ($sm-991){
            max-width: 100%;
        }
        // @media ($sm-1679){
        //     max-width: 100%;
        //     width: unset;
        //     height: unset;
        // }
        // @media ($sm-991){
        //     margin-top: 30px;
        //     width: unset;
        //     height: unset;
        //     object-fit: contain;
        // }
        img{
            width: 100%;
            height: 100%;
            aspect-ratio: 0.9;
            @media ($sm-1679){
                max-width: 100%;
            }
            @media ($sm-991){
                max-width: 100%;
            }
        }
        @media ($sm-1199){
            margin-top:-140px
        }
        @media ($sm-991){
            margin-top:20px
        }
    }
    .slider-wrp{
        margin-top: 117px;
        display: flex;
        @media ($sm-1679){
            margin-top: 70px;
        }
        @media ($sm-1481){
            margin-top: 65px;
        }
        @media ($sm-1441){
            margin-top: 60px;;
        }
        @media ($sm-1281){
            margin-top: 55px;
        }
        @media ($sm-1199){
            margin-top: 50px;
        }
        @media ($sm-991){
            margin-top: 45px;
        }
        @media ($sm-767){
            flex-direction: column;
            margin-top: 40px;
        }
        .conetnt-left{
            display: flex;
            flex-direction: column;
        }
        .nav-left{
            // max-width: 350px;
            width: 100%;
            max-height: 450px;
            overflow-y: auto;
            max-width: 22%;
            @media ($sm-1199){
                max-height: 365px;
            }
            @media($sm-991){
                max-width: 30%;
            }
            @media (max-width:767px){
                max-width: 100%;
                margin-bottom: 20px;
            }
            .slide-list{
                margin-left: 0px;
                padding-left: 0px;
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                @media ($sm-767){
                    flex-direction: row;
                    margin-top: 0px;
                    column-gap: 10px;
                }
                li{
                    list-style: none;
                    // font: normal normal normal 25px/38px $font-primary;
                    margin-bottom: 36px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    cursor: pointer;
                    color: $slider-color;
                    transition: all 0.5s;
                    button{
                        background-color: transparent;
                        color: $slider-color;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        font: normal normal normal 25px/38px $font-primary;
                        text-align: left;
                        @media ($sm-1679){
                            font: normal normal normal 18px/28px $font-primary;
                        }
                        @media ($sm-1481){
                            font: normal normal normal 17px/27px $font-primary;
                        }
                        @media ($sm-1281){
                            font: normal normal normal 16px/26px $font-primary;
                        }
                        @media ($sm-1199){
                            font: normal normal normal 15px/25px $font-primary;
                        }
                        @media ($sm-991){
                            font: normal normal normal 14px/24px $font-primary;
                        }
                        @media ($sm-767){
                            text-align: center;
                        }
                    }

                    @media ($sm-1679){
                       
                        margin-bottom: 20px;
                    }
                    @media ($sm-1481){

                        margin-bottom: 18px;
                    }
                    @media ($sm-1441){

                        margin-bottom: 17px;
                    }
                    @media ($sm-1281){
                        margin-bottom: 16px;
                    }
                    @media ($sm-1199){
                        margin-bottom: 15px;
                    }
                    @media ($sm-767){
                        max-width: 100%;
                        flex:1 0 auto;
                        margin-bottom: 10px;
                    }
                    &::before{
                        content: "";
                        width: 25px;
                        height: 1px;
                        background-color: $slider-color;
                        margin-right: 21px;

                    }
                    &.active{
                        button{
                            color: $slider-color-active;
                            &::before{
                                color:$slider-color-active;
                            }
                        }
                    }
                    button{
                        &:hover{
                            color:$slider-color-active;
                        }
                    }
                }
            }
        }
        .details-right{
            padding-left: 54px;
            // max-width: 550px;
            max-width: 78%;
            @media ($sm-1679){
                padding-left: 45px;
            }
            @media ($sm-1481){
                padding-left: 35px;
            }
            @media ($sm-1199){
                padding-left: 25px;
            }
            @media ($sm-767){
                padding-left: 0px;
                max-width: 100%;
            }
            .inner-outer{
                display: flex;
                @media ($sm-991){
                    flex-direction: column;
                }
            }
            .inner-title{
                font: normal normal bold 35px/54px $font-primary;
                margin-bottom: 20px;
                color: $white;
                margin-top: 0px;
                @media ($sm-1679){
                    font: normal normal bold 18px/28px $font-primary;
                    margin-bottom: 15px;
                }
                @media ($sm-1441){
                    font: normal normal bold 17px/27px $font-primary;
                }
                @media ($sm-1281){
                    font: normal normal bold 16px/26px $font-primary;
                }
                @media ($sm-991){
                    
                }
            }
            .inner-desc{
                margin-bottom: 0px;
                @media ($sm-1679){
                    font: normal normal 300 16px/26px $font-primary;
                }
                @media ($sm-1481){
                    font: normal normal 300 15px/25px $font-primary;
                }
                @media ($sm-1199){
                    font: normal normal 300 14px/24px $font-primary;
                }
                @media ($sm-991){
                    // font: normal normal 300 14px/25px $font-primary;
                }
            }
            .pro-info{
                padding-left: 0px;
                margin: 0px;
                padding-top: 84px;
                @media ($sm-1679){
                    padding-top: 30px;
                }
                @media ($sm-1481){
                    padding-top: 25px;
                }
                li{
                    list-style: none;
                    color: $white;
                    display: flex;
                    align-items: center;
                    position: relative;
                    border-bottom:1px solid $mixed-dark;
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                    @media ($sm-1679){
                        padding-bottom: 5px;
                    margin-bottom: 5px;
                    }
                    @media ($sm-991){
                        padding-bottom: 10px;
                    margin-bottom: 10px;
                    }
                    &:last-child{
                        border: none;
                        margin-bottom: 0;
                        padding-bottom: 0px;
                    }

                    .counts{
                        font: normal normal 600 41px/74px $font-primary;
                        min-width: 84px;
                        @media ($sm-1679){
                            font: normal normal 600 35px/74px $font-primary;
                        }
                        @media ($sm-1481){
                            font: normal normal 600 30px/74px $font-primary;
                        }
                        @media ($sm-1199){
                            font: normal normal 600 24px/74px $font-primary;
                        }
                        sup{
                            font: normal normal 600 30px/74px $font-primary;
                            @media ($sm-1679){
                                font: normal normal 600 28px/72px $font-primary;
                            }
                            @media ($sm-1481){
                                font: normal normal 600 27px/70px $font-primary;
                            }
                        }
                    }
                    .brief{
                        padding-left: 30px;
                        @media ($sm-1679){
                            padding-left: 25px;
                        }
                        @media ($sm-1481){
                            padding-left: 15px;
                        }
                        @media ($sm-1199){
                            padding-left: 10px;
                        }
                        flex: 1;
                        .title{
                            color: $white;
                            font: normal normal 600 16px/24px $font-primary;
                            margin-top:0px;
                            @media ($sm-1679){
                                font: normal normal 600 15px/24px $font-primary;
                            }
                            @media ($sm-1481){
                                font: normal normal 600 14px/24px $font-primary;
                            }
                            margin-bottom: 0px;
                            span{
                                display: block;
                                color: $mixed-dark;
                            }
                        }
                    }
                }
            }
            .inner-content{
                margin-right: 140px;
                max-width: 90%;
                @media ($sm-1679){
                    margin-right: 80px;
                }
                @media ($sm-1481){
                    margin-right: 70px;
                }
                @media ($sm-1441){
                    margin-right: 65px;
                }
                @media ($sm-1281){
                    margin-right: 60px;
                }
                @media ($sm-1199){
                    margin-right: 30px;
                }
                @media ($sm-991){
                    margin-right: 0px;
                }
                @media (max-width:700px){
                    flex-direction: column;
                }
            }
        }
    }

}